DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/tms_dev"
DATABASE_URL_TEST="postgresql://USER:PASSWORD@localhost:5432/tms_test"
JWT_SECRET="change-me-in-production-at-least-32-chars"
JWT_REFRESH_SECRET="change-me-refresh-at-least-32-chars"
CORS_ORIGIN="http://localhost:5173"
